/* Write your code here. */
.body {
  margin: 0px;
}
.root {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  text-align: center;
}
.card {
  color: #ffffff;
  
}
